<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="books">
	<resultMap id="booksMap" type="example.entity.Books">
	</resultMap>

	<select id="queryAllBooks" resultType="example.entity.Books" >
		select * from books
		<where>
			<if test="bookName != null">
				bookName like "%"#{bookName}"%" or bookAuthor like "%"#{bookName}"%"
			</if>
		</where>
	</select>

	<select id="queryAllBooksCount" resultType="int" >
		select count(*) from books
		<if test="bookName != null">
			bookName like "%"#{bookName}"%" or bookAuthor like "%"#{bookName}"%"
		</if>
	</select>

	<select id="queryBook" resultType="example.entity.Books">
		select * from books where id= #{id}
	</select>

</mapper>
