<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="books">
	<resultMap id="booksMap" type="example.entity.Books">
	</resultMap>

	<select id="queryAllBooks" resultType="example.entity.Books" >
		select * from books
		<where>
			<if test="bookName != null">
				and bookName like '%${bookName}%' or bookAuthor like '%${bookName}%'
			</if>
			<if test="bookTypeId != null">
				and bookType = #{bookTypeId}
			</if>
		</where>
		limit #{pageNo},#{pageSize}
	</select>

	<select id="queryAllBooksCount" resultType="int">
		select count(*) from books
		<where>
			<if test="bookName != null">
				and bookName like '%${bookName}%' or bookAuthor like '%${bookName}%'
			</if>
			<if test="bookTypeId != null">
				and bookTypeId = #{bookTypeId}
			</if>
		</where>

	</select>

	<select id="queryBook" resultType="example.entity.Books">
		select * from books where id= #{id}
	</select>

	<select id="findBooksByName" resultType="example.entity.Books">
		select * from books where bookName= #{bookName}
	</select>

	<update id="updateBooksQuantity" >
		update books set bookQuantity = bookQuantity-1 where id = #{id}
	</update>

	<insert id="addBook" >
		INSERT INTO books (bookIsbn, bookName, bookAuthor, bookParticulars, bookType,bookPicture,
		bookPrice, createDate, bookTotal, bookQuantity)
		values (#{bookIsbn}, #{bookName},#{bookAuthor},  #{bookParticulars}, #{bookType}, #{bookPicture},
		#{bookPrice}, #{createDate}, #{bookTotal}, #{bookQuantity})
	</insert>

	<update id="updateBook">
		update books
		set
			bookIsbn=#{bookIsbn},
			 bookName=#{bookName},
			 bookAuthor=#{bookAuthor},
			 bookParticulars=#{bookParticulars},
			 bookType=#{bookType},
			 bookPicture=#{bookPicture},
			 bookPrice=#{bookPrice},
			 updateDate=#{updateDate},
			 bookTotal=#{bookTotal},
			 bookQuantity=#{bookQuantity}
	 where id = #{id}
	</update>

	<delete id="deleteBook">
		delete from books where id = #{id}
	</delete>
</mapper>
