<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookType">
	<resultMap id="bookTypeMap" type="example.entity.BookType">
	</resultMap>

	<select id="queryBookType" resultType="example.entity.BookType">
		select * FROM book_type
	</select>

</mapper>
