<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="borrow">

	<resultMap id="borrowMap" type="example.entity.Borrow">
	</resultMap>

	<resultMap id="BorrowByNameMap"  type="java.util.HashMap">
		<!-- 配置主键，是关联Order的唯一标识 -->
		<id property="id" column="userId" />
		<result property="bookName" column="bookName" />
		<result property="startDate" column="startDate" />
		<result property="entDate" column="entDate" />
		<result property="returnDate" column="returnDate" />
	</resultMap>

	<select id="queryAllBorrow" resultMap="BorrowByNameMap">
		select b.* FROM borrow as b  left join book_users as u  on
		b.userId = u.id
		<where>
			<if test="id != 0">
				and	 u.id = #{id}
			</if>
			<if test="bookName != null and bookName !=''">
				and b.bookName = #{bookName}
			</if>
		</where>
		order by b.startDate desc
	</select>

	<insert id="addBorrow" >
		INSERT INTO borrow ( userName, bookName,quantity , startDate, returnDate, userId, bookId)
		values (#{userName}, #{bookName}, #{bookQuantity}, #{startDate}, #{returnDate}, #{userId}, #{bookId})
	</insert>

	<select id="borrowMessage" >
		SELECT * FROM borrow where userName = #{userName}
	</select>


</mapper>
<!--
sqlMap生成描述:

-->