<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personal">

	<resultMap id="personalMap" type="example.entity.Personal">
	</resultMap>

	<select id="findPersonalByID"  resultType="example.entity.Personal" >
		SELECT  *  FROM  personal  where userId = #{userId}
	</select>

	<update id="updatePersonal">
		update personal set
		 nickname = #{nickname},
		 age = #{age},
		 address = #{address},
		 sex = #{sex}
		 where userId = #{userId}
	</update>

	<insert id="addPersonal" >
		INSERT INTO personal ( userId)
		values (#{userId})
	</insert>



</mapper>
<!--
sqlMap生成描述:

-->