<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<resultMap id="userMap" type="example.entity.User">
	</resultMap>

	<!-- auto generate default query -->
	<select id="findUserByName"  resultType="example.entity.User" >
		SELECT  *  FROM book_users   where userName = #{userName}
	</select>

	<select id="count" resultType="int">
		select count(*) as count from book_users
		<where>
			<if test="userName != null">
				userName  = #{userName}
			</if>
		</where>
	</select>

<!-- 根据名字模糊查询-->
	<select id="queryUserByName" resultType="example.entity.User">
		select * from book_users
		<where>
			 <if test="userName != null">
				userName like "%"#{userName}"%"
			 </if>
		</where>
	</select>

	<!--	根据用户名称查询出所有的用户，并且分页-->
	<select id="queryAllUser" resultType="example.entity.User">
		select * from book_users
		<where>
			<if test="id != 0">
				and id = #{id}
			</if>
		</where>
		limit #{pageNo},#{pageSize}
	</select>


	<insert id="addUser">
		INSERT INTO book_users ( userName, userPassword, phone, createDate)
		values (#{userName}, #{userPassword}, #{phone}, #{createDate})
	</insert>

	<update id="resetPwd">
		update book_users set userPassword = #{pwd} where id = #{userId}
	</update>


</mapper>
<!--
sqlMap生成描述:

-->