<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<resultMap id="userMap" type="example.entity.User">
	</resultMap>

	<!-- auto generate default query -->
	<select id="findUser"
		parameterType="java.util.Map"
		resultMap="userMap">
		SELECT 
				TD.id ,
				TD.userName,
				TD.userPassword,
				TD.phone,
				TD.createDate ,
				TD.updateDate
		  FROM user  as TD
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			1 = 1
			<if test="id!=null and id !=''">
				and id = #{id}
			</if>
			<if test="userName!=null and userName !=''">
				and userName = #{userName}
			</if>
		</trim>


	</select>

	<select id="selectAllUser" resultType="example.entity.User">
		select * from user
	</select>

	<select id="selectAllUserList" resultType="example.entity.User">
		select * from user limit #{pageNo} ,#{pageNum}
	</select>

	<select id="queryUser" resultType="example.entity.User">
		select * from user <where>
		 <if test="userName != null">
			name like "%"#{userName}"%"
		 </if>
	</where>
	</select>

	<insert id="addUser">
		INSERT INTO USER ( userName, userPassword, phone, createDate)
		values (#{userName}, #{userPassword}, #{phone}, #{createDate})
	</insert>


	
		<!-- auto generate default count -->



</mapper>
<!--
sqlMap生成描述:

-->